<section id="dream">
  <% dreamField.forEach((comment, index) => { %>
    <a class='dream-field' href='/watch?id=<%=comment.video_id%>'><%= comment.text.toLowerCase() %></a>
    <a class='dream-field' href='/watch?id=<%=comment.video_id%>'><%= comment.text.toLowerCase() %></a>
  <% }); %>
  </section>