<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
    <script defer src="index.js"></script>
    <title>RandoCam</title>
</head>
<%- include('partials/dreamfield') %>

<body>
    <%- include('partials/header') %>
    <section id="content" class='aboutus'>
        <article>
            <h2>Calvin Hall</h2>
            <div class="avatar">
            <img src="https://raw.githubusercontent.com/TheSwenson/Choose-Your-Adventure/master/images/calvin.jpg"></img>
            </div>
            <p>Hello, my name is Calvin. I am a Software Developer of nine or so years. I've been interested in software and software development since early middleschool and have worked on many personal projects, from 3D rendering engines to back-end application servers. I came to DeltaV to learn more about Web Development and software development, and to hopefully acquire an awesome job working for an awesome company afterwards.</p>
        </article>
        <article>
            <h2>James Zobian</h2>
            <div class="avatar">
            <img src='self.jpg'></img>
            </div>
            <p>Full-stack software developer confidant in HTML, CSS, JS, etc. Techie with roots in game mods and hacking. Nature enthusiast.</p>
        </article>
        <article>
            <h2>Scott Bisese</h2>
            <div class="avatar">
            <img class="scott" src='scott.jpg'></img>
            </div>
            <p>Hard worker, fast learner, enthusiastic about life.</p>
        </article>
        <article>
            <h2>Steven Jones</h2>
            <div class="avatar">
            <img class="steven" src="059.jpeg"></img>
            </div>
            <p>I’m from Colorado and I moved to Iowa last year. Now I’m a student at DeltaV Code. I want to be a Full-Stack Developer. I’m learning to develop code for HTML, CSS, and JavaScript.</p>
        </article>
    </section>
    <%- include('partials/footer') %>
</body>

</html>