<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head') %>
  <title>RandoCam</title>
</head>
<body>
  <%- include('partials/header') %>
  <section id="content">
    <ol>
      <% webcams.forEach(webcam => { %>
        <li><%- include('partials/webcam', {webcam: webcam, singleView: false}) %></li>
      <% }) %>
    </ol>
  </section>
</body>
</html>