<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head') %>
  <title><%= webcams[0].title %></title>
</head>
<body>
  <%- include('partials/header') %>
  <section id="content">
    <%- include('partials/webcam', {webcam: webcams[0], refreshButton: true}) %>
  </section>
</body>
</html>