body {
  
  background-color: #DFDFDF;
}

#header {
  background-color: black;
  font-family: creepycrawlers;
}

#header h1 {
  color: #0F0;
}

h3.page-title {
  background-color: #222222;
  text-align: center;
}

#content {
  padding-bottom: 5%;
  color: honeydew;
}
.hidden {
  display: none;
}
