body {
  background-color: #DFDFDF;
}

#header {
  background-color: black;
  font-family: creepycrawlers;
  box-shadow: 0 0 15px black;
}

#header h1 {
  color: #0F0;
}

h3.page-title {
  background-color: #222222;
  text-align: center;
}

#content {
  padding-bottom: 5%;
  color: honeydew;
  margin: 10% 0;
}
.hidden {
  display: none;
}

.avatar {
  display: block;
  width: 15vmax;
  height: 15vmax;
  border-radius: 100%;
  overflow:  hidden;
  margin: 0 auto;
}

.avatar img {
  width: 20vmax;
  margin: auto;
}

.avatar img:not(.scott):not(.steven) {
  transform: translateX(-10%) scale(1.25);
}

.avatar img.steven {
  transform: translateX(-10%);
}

.avatar img.scott {
  transform: translateY(-25%);
}