#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10vh;
  background-color: black;
  z-index: 1000;
}

#content {
  transform: translateY(10vh);
  text-align: center;
  pointer-events: none;
}

#nav {
  float: right;
}

img#logo {
  width: 15%;
  margin: 0 auto;
  max-height: 100%;
  
}

h3.page-title {
  min-width: 100%;
  font-size: 150%;
}

#dream {
  position: fixed;
  top: 0;
  left: 0;
  width: 200vw;
  height: 100vh;
  display: grid;
  grid-template: repeat(15, 1fr) / repeat(30, 1fr);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: dream;
  animation-duration: 60000ms;
  z-index: 0;
}

#dream a{
  grid-column: span 1;
  grid-row: span 1;
  color: #AFAFAFAF;
  text-decoration: none;
}

@keyframes dream {
0% {
  transform: translateX(00);
}
100% {
  transform: translateX(-100vw);
}
}