.video-player {
  overflow: hidden;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 9%;
  width: 60vw;
  background-color: #222222;
  pointer-events: all;
  box-shadow: 0 0 10px BLACK;
  border-radius: 15px;
}

.video-player:last-child {
  margin-bottom: 5%;
}

.video-player iframe {
  max-width: 60vw;
  height: auto;
  min-height: 55vmin;
  margin-bottom: 1%;
  overflow: hidden;
}

.videoContent{
  width: 800px;
  max-width: 60vw;
  min-height: 55vmin;
  margin: 0 auto;
  overflow: hidden;
}

.video-player h3 {
  margin-top: 3%;
  font-size: 200%;
  margin-bottom: 1%;
  font-family: Arial, Helvetica, sans-serif;
}

.video-player button.refresh, .video-player button.like, .comment-form input[type=submit], .view-button{
  padding: 0% 5% 0% 5%;
  background-color:  #7F7F7F;
  color: honeydew;
  border-radius: 15px;
  font-size: 200%;
  border: none;
  transition-duration: .666s;
  margin-top: 1%;
  margin-left: 1.25%;
  margin-bottom: 2.5%;
  float: left;
  font-family: creepycrawlers;
}

.comment-form input[type=submit]{
float: right;
}
.video-player button:first-of-type{
  margin-left: 5%;
}

.video-player button.refresh:hover, .video-player button.like:hover, .comment-form input[type=submit]:hover{
  color: honeydew;
  text-shadow: 0 0 10px #0F0;

}

/*<form class='comment-form'>
  <input type='text' name='comment' placeholder='Leave a comment...'>
  <input type='text' name='handle' placeholder='Name...'>
  <input type='submit' name='submit' value='Submit'>
</form>*/

.comment-form input[name='comment'],.comment-form input[name='handle'] {
  background-color: black;
  color: honeydew;
  border-color: honeydew;
  font-size: 150%;
  text-align: left;
  border-width: 0.5%;
  border-style: solid;
  font-family: 'Comfortaa', cursive;
}

.comment-form input::placeholder {
  color: white;
}
.comment-form input[name='comment']{
  width: 100%;
  margin-bottom: 1%;
}
.comment-form {
  text-align: left;
  margin-bottom: 5%;
  padding: 2%;
}

p.like-counter{
  color:honeydew;
  font-size:200%;
  float: right;
  margin-right: 5%;
  overflow: none;
  margin-top: 1.50%;
  font-family: 'Comfortaa', cursive;
}

article.comment {
  margin: 0 5%;
  margin-bottom: 5%;
  border-radius: 15px;
  padding: 1.5%;
  display: block;
  border: 1px solid honeydew;
  font-family: 'Comfortaa', cursive;
}

ol.comment-section {
  margin-bottom: 5%;
}

article p.comment {
  font-size: 200%;
}

article div.comment.container {
  text-align: left;
}

article div.handle.container {
  text-align: right;
}

article p.handle {
  font-style: italic;
  color: #DFDFDF;
  font-size: 150%;
}

article div.handle.container {
  margin-bottom: 2%;
}
.aboutus{
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(2, 1fr);
  height: 80vh;
  width: 100vw;
  margin: 20%;
}

.aboutus article{
  background-color: #222222;
  width: 66%;
  /*height: 66.6%;*/
  margin:auto;
  margin-bottom: 5%;
  padding: 3%;
  box-shadow: 0 0 10px black;
  border-radius: 15px;
  text-align: center;
  padding-bottom: 10%;
}

.aboutus h2{
  font-family: creepycrawlers;
  font-size: 40px;
  margin-bottom: 1%;
}

@media (max-width: 1024px) {
  .video-player {
    width: 100vw;
    max-width: 100vw;
    border-radius: 0;
  }
  .video-player iframe {
    max-width: 100vw;
  }
  .videoContent {
    max-width: 100vw;
  }
  .view-button {
    float: none;
  }
  .aboutus{
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(1, 1fr);
    height: 80vh;
    width: 100vw;
  }
} 